/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.versionBadge {
  margin-left: 1rem;
  font-size: 0.5em;
  background-color: #7045af;
  color: #ffffff !important;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: normal;
  position: relative;
  z-index: 10;
  display: inline-block;
}

.problemSolution {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

.problemSolution h3 {
  margin-bottom: 1rem;
}

.problemSolution ul {
  text-align: left;
  padding-left: 1.5rem;
}

@media screen and (max-width: 996px) {
  .problemSolution {
    padding: 2rem 1rem;
  }
}
